In [1]:
import pandas as pd

try:
    Dataset = pd.read_csv("C:\\Users\\atang\\OneDrive\\Documents\\Data Science MSc\\Individual Research Project\\Database.csv", index_col=0, parse_dates=True, dayfirst=True)
except ValueError as e:
    print(f"Error parsing dates: {e}")
    # Load without parsing dates and inspect
    Dataset = pd.read_csv("C:\\Users\\atang\\OneDrive\\Documents\\Data Science MSc\\Individual Research Project\\Database.csv", index_col=0)
    print(Dataset.head())

C:\Users\atang\AppData\Local\Temp\ipykernel_18100\1816786013.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  Dataset = pd.read_csv("C:\\Users\\atang\\OneDrive\\Documents\\Data Science MSc\\Individual Research Project\\Database.csv", index_col=0, parse_dates=True, dayfirst=True)

In [2]:
Dataset.head()

,Time,Season,Day_of_the_week,DHI,DNI,GHI,Wind_speed,Humidity,Temperature,PV_production,Wind_production,Electric_demand
0,2019-01-01-T00:00,1,1,0.0,0.0,0.0,2.88,56.036,1.82,0,2810,22216
1,2019-01-01-T00:05,1,1,0.0,0.0,0.0,2.88,56.036,1.82,0,2862,22106
2,2019-01-01-T00:10,1,1,0.0,0.0,0.0,2.88,56.194,1.78,0,2916,22130
3,2019-01-01-T00:15,1,1,0.0,0.0,0.0,2.88,56.344,1.74,0,2920,22040
4,2019-01-01-T00:20,1,1,0.0,0.0,0.0,2.84,56.440,1.72,0,2902,21963

In [3]:
Dataset.shape

(315648, 12)

In [4]:
#Convert the time column to Datetime for time series analysis
Dataset['Time'] = pd.to_datetime(Dataset['Time'])
Dataset.set_index('Time', inplace=True)
Dataset.head()

,Season,Day_of_the_week,DHI,DNI,GHI,Wind_speed,Humidity,Temperature,PV_production,Wind_production,Electric_demand
Time,,,,,,,,,,,
2019-01-01 00:00:00,1,1,0.0,0.0,0.0,2.88,56.036,1.82,0,2810,22216
2019-01-01 00:05:00,1,1,0.0,0.0,0.0,2.88,56.036,1.82,0,2862,22106
2019-01-01 00:10:00,1,1,0.0,0.0,0.0,2.88,56.194,1.78,0,2916,22130
2019-01-01 00:15:00,1,1,0.0,0.0,0.0,2.88,56.344,1.74,0,2920,22040
2019-01-01 00:20:00,1,1,0.0,0.0,0.0,2.84,56.440,1.72,0,2902,21963

In [5]:
# Generate a complete date range
full_range = pd.date_range(start=Dataset.index.min(), end=Dataset.index.max(), freq='5min')

# Identify missing dates
missing_dates = full_range.difference(Dataset.index)

# Print the missing dates
print("Missing dates:")
print(missing_dates)

Missing dates:
DatetimeIndex([], dtype='datetime64[ns]', freq='5min')

In [6]:
# Filter data to keep only the year 2020
Dataset_2020 = Dataset[(Dataset.index.year == 2020)]
Dataset_2020.head()
Dataset_2020.shape

(105408, 11)

In [7]:
Dataset_2020 = Dataset_2020.drop(['Wind_production', 'Electric_demand'], axis = 1)
print(Dataset_2020.columns)

Index(['Season', 'Day_of_the_week', 'DHI', 'DNI', 'GHI', 'Wind_speed',
       'Humidity', 'Temperature', 'PV_production'],
      dtype='object')

In [8]:
#convert columns to numeric data type
Dataset_2020['Wind_speed'] = pd.to_numeric(Dataset_2020['Wind_speed'], downcast='float')
Dataset_2020['Season'] = pd.to_numeric(Dataset_2020['Season'], downcast='float')
Dataset_2020['Day_of_the_week'] = pd.to_numeric(Dataset_2020['Day_of_the_week'], downcast='float')
Dataset_2020['DHI'] = pd.to_numeric(Dataset_2020['DHI'], downcast='float')
Dataset_2020['DNI'] = pd.to_numeric(Dataset_2020['DNI'], downcast='float')
Dataset_2020['GHI'] = pd.to_numeric(Dataset_2020['GHI'], downcast='float')
Dataset_2020['Humidity'] = pd.to_numeric(Dataset_2020['Humidity'], downcast='float')
Dataset_2020['Temperature'] = pd.to_numeric(Dataset_2020['Temperature'], downcast='float')
Dataset_2020['PV_production'] = pd.to_numeric(Dataset_2020['PV_production'], downcast='float')

In [9]:
# Replace negative PV_production values with zero
Dataset_2020.loc[Dataset_2020['PV_production'] < 0, 'PV_production'] = 0

In [10]:
# Handle any remaining non-numeric or NA values in PV_production
Dataset_2020 = Dataset_2020.dropna(subset=['PV_production'])
Dataset_2020.shape

(105408, 9)

In [11]:
Dataset_2020.head()

,Season,Day_of_the_week,DHI,DNI,GHI,Wind_speed,Humidity,Temperature,PV_production
Time,,,,,,,,,
2020-01-01 00:00:00,1.0,2.0,0.0,0.0,0.0,1.06,62.807999,8.54,0.0
2020-01-01 00:05:00,1.0,2.0,0.0,0.0,0.0,1.06,62.813999,8.54,0.0
2020-01-01 00:10:00,1.0,2.0,0.0,0.0,0.0,1.08,62.928001,8.52,0.0
2020-01-01 00:15:00,1.0,2.0,0.0,0.0,0.0,1.10,62.998001,8.50,0.0
2020-01-01 00:20:00,1.0,2.0,0.0,0.0,0.0,1.10,62.889999,8.52,0.0

In [13]:
import pandas as pd
from sklearn.metrics import r2_score, mean_absolute_percentage_error, mean_squared_error
from sklearn.model_selection import TimeSeriesSplit
from prophet import Prophet

df = Dataset_2020.copy()

# Ensure the datetime index is available as a column named 'ds'
df.index.name = 'ds'
df.reset_index(inplace=True)

# Check if the 'ds' column is correctly created
print(df.head())

# Ensure the target column 'PV_production' exists
if 'PV_production' not in df.columns:
    raise KeyError("The target column 'PV_production' is not in the dataframe.")

# Prepare the data for Prophet
df_prophet = df[['ds', 'PV_production']].rename(columns={'ds': 'ds', 'PV_production': 'y'})

# Initialise time series split for cross-validation
tscv = TimeSeriesSplit(n_splits=3)

r2_scores = []
mse_scores = []

# Cross-validation
for train_index, test_index in tscv.split(df_prophet):
    train, test = df_prophet.iloc[train_index], df_prophet.iloc[test_index]

    # Create and fit the Prophet model with hyperparameters
    model = Prophet(
        seasonality_mode='multiplicative',
        changepoint_prior_scale=0.05,
        seasonality_prior_scale=10.0
    )

    model.fit(train)

    # Make future dataframe for predictions
    future = model.make_future_dataframe(periods=len(test), freq='5min')  # Adjust frequency as per your data

    forecast = model.predict(future)

    # Extract predictions for the test period
    predictions = forecast['yhat'].iloc[-len(test):].values

    # Calculate metrics
    y_test = test['y'].values
    r2 = r2_score(y_test, predictions)
    mse = mean_squared_error(y_test, predictions)

    r2_scores.append(r2)
    mse_scores.append(mse)

# Display the results
results = pd.DataFrame({
    'R2 Score': r2_scores,
    'MSE': mse_scores
})

print(results)

Importing plotly failed. Interactive plots will not work.

                   ds  Season  Day_of_the_week  DHI  DNI  GHI  Wind_speed  \
0 2020-01-01 00:00:00     1.0              2.0  0.0  0.0  0.0        1.06
1 2020-01-01 00:05:00     1.0              2.0  0.0  0.0  0.0        1.06
2 2020-01-01 00:10:00     1.0              2.0  0.0  0.0  0.0        1.08
3 2020-01-01 00:15:00     1.0              2.0  0.0  0.0  0.0        1.10
4 2020-01-01 00:20:00     1.0              2.0  0.0  0.0  0.0        1.10

    Humidity  Temperature  PV_production
0  62.807999         8.54            0.0
1  62.813999         8.54            0.0
2  62.928001         8.52            0.0
3  62.998001         8.50            0.0
4  62.889999         8.52            0.0

18:22:14 - cmdstanpy - INFO - Chain [1] start processing
18:22:25 - cmdstanpy - INFO - Chain [1] done processing
18:22:36 - cmdstanpy - INFO - Chain [1] start processing
18:23:15 - cmdstanpy - INFO - Chain [1] done processing
18:23:28 - cmdstanpy - INFO - Chain [1] start processing
18:24:05 - cmdstanpy - INFO - Chain [1] done processing

   R2 Score          MAPE           MSE
0  0.272635  9.465941e+17  1.488787e+07
1  0.598419  6.537847e+17  8.887421e+06
2  0.813877  1.186381e+18  2.526599e+06